<div class="container">
    <div class="head-wrapper">
        <textarea name="" id="" cols="30" rows="10" class="defaut round"></textarea>
        <div id="score-input-wrapper">
            <input type="text" class="default round shadow">
        </div>
    </div>
    <div class="players-wrapper">
        <h2>Add players</h2>
        <!-- Replace each line with component -->
        <div class="player-line">
            <input type="text" placeholder="Player name">
            <input type="number" placeholder="Ranking">
        </div>
    </div>
    <div class="bottom-wrapper">
        <div class="btn-wrapper">
            <button class="btn default round shadow">
                <a routerLink="/new">
                    Start game
                </a>
            </button>
        </div>
    </div>
</div>
