/* You can add global styles to this file, and also import other style files */

*{
    --badmatch-primary:#7BAF76;
  }
/* Full page wrapper */
.container{
    width: 100%;
    min-height: 100%;
    max-width: 1440px;
}

/* Round - border radius and box shadow for all elements */
.round{
    border-radius: 20px;
    box-shadow: 4px 4px 10%;
}

/* Shadow - drop shadow for all components */


.default{
    border-radius: 20px;
    background-color: var(--badmatch-primary);
    color: #fff;
    border: 1px solid var(--badmatch-primary)
}

/* .btn.default{
    color: #fff;
    border: 1px solid var(--badmatch-primary)
} */

a{
    text-decoration: none;
    color: #fff;
}
button:hover{
    transform: scale(1.01,1.01);
    cursor: pointer;
}

.btn-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 88px;
}
.btn{
    padding: 20px 44px;
    font-size: 24px;
}
